$main-background: #020213;
$main-max-width: 1920px;
$main-max-height: 7385px; 
$font-Helvetica: Helvetica Now Display;
$green-color:#18E8A4;
$white-color:#FFFFFF;
$dark-grey:#545460;
$h-color:#202523;
$padding-hd:0 10%;
$padding-desktop:0 5%;