$main-background: #020213;
$main-max-width: 1920px;
$main-max-height: 7385px; 
$font-Helvetica: Helvetica Now Display;
$green-color:#18E8A4;
$white-color:#FFFFFF;
$dark-grey:#545460;
$h-color:#202523;
body{
    background-color:#E5E5E5;
}
$padding-hd:0 10%;
$padding-desctop:0 5%;
.page-container {
    width:100%;
    margin:0 auto;
    max-width: $main-max-width;
    max-height: $main-max-height;
    padding-top: 24px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $main-background;
        
    // top block
    .top-block{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;

        // header
        .top-header{
            width:100%;
            height: 48px;
            box-sizing: border-box;
            padding:$padding-hd;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            @media screen and (max-width:1440px){
                padding:$padding-desctop;
            }
                .logo{
                width: 38%;
                height: 40px;
                display:flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                &__picture-wrapper{
                    width:37.58px;
                    height: 40px;
                    display:flex;
                    background-color:black;
                    .logo__picture{
                        width:100%;
                        height: 100%;
                    }
                }
                &__text-wrapper{
                    width:100,34px;
                    height: 14,98px;
                    padding-left:5px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .letter__wrapper{
                        width:10,58px;
                        height: 14.33px;
                        .letter{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .header-nav{
                width:45%;
                padding-left: 60px;
                margin-right:auto;
                display:flex;
                justify-content: flex-start;
                align-items: center;
                .nav{
                    width:100%;
                    padding-left: 0;
                    display:flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    @media screen and (max-width:768px){
                        display:none;
                    }
                    &__item{
                        padding-right: 45px;
                        width:69px;
                        display:flex;
                        justify-content: center;
                        font-family: $font-Helvetica;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        display: flex;
                        align-items: center;
                        color: $white-color;
                        text-decoration: none;
                    }
                    .green{
                        color:$green-color;
                        font-weight:950;
                    }
                    &__item:hover{
                        color: $green-color;
                        // font-weight:950;
                    }
                }
            }
            // contact us
            .contact{
                width:156px;
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(20, 20, 26, 0.3);
                box-sizing: border-box;
                border-radius: 383px;
                border: 2px solid $green-color;
                font-family: $font-Helvetica;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                align-items: center;
                text-align: center;
                color: $white-color;
                text-decoration:none;
                @media screen and (max-width:950px) {
                    
                }
                @media screen and (max-width:768px){
                    display:none;
                }
            }
            .contact:hover{
                color:$green-color;
            }
            .gamburger{
                width:64px;
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                align-items:center;
                display:none;
                .gamburger__item{
                    width:24px;
                    height:24px;
                    
                    img{
                        width:100%;
                        height:100%;
                        &:hover{
                            cursor:pointer;
                        }
                    }
                }
            @media screen and (max-width:768px) {
                display:flex;
            }    
            }
                
        }
        .top-row{
            width: 100%;
            box-sizing: border-box;
            padding: $padding-hd;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items:center;
            @media screen and (max-width:1440px){
                padding:$padding-desctop;
            }
            .drop-down{
                display: none;
            }
            .drop-down-show{
                display:flex;
                position:absolute;
                height:200px;
                width:90%;
                padding:0;
                flex-direction: column;
                justify-content: space-around;
                align-items:center;
                border-radius:10px;
                background-color: rgba(24, 232, 164, 0.9);
                a{
                    list-style: none;
                    color:$green-color;
                    font-family: Helvetica Now Display;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    text-decoration: none;

                }
            }
            .job-for-you{
                display:flex;
                width:38%;
                &__title{
                font-family:$font-Helvetica;
                font-style: normal;
                font-weight: 900;
                font-size: 56px;
                line-height: 111%;
                color:$white-color;
                letter-spacing: -1px;
                    span{
                        color:$green-color;
                    }
                }
            }
            .text{
                width:45%;
                padding-left: 60px;
                margin-right: auto;
                font-family:$font-Helvetica;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 155%;
                color:$white-color;
            }
        }
        // Gallery with pictures
        .gallery{
            width:100%;
            display:flex;
            flex-direction: column;
            .pictures-row{
                height: 222px;
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                .pictures-row__item{
                    display:flex;
                    width:378px;
                    height:212px;
                    margin-right: 20px;
                    .picture{
                        width:100%;
                        height: 100%;
                        border-radius: 10px;
                        object-fit: cover;
                    }
                }
                .background{
                    width:378px;
                    height:212px;
                    margin-right: 20px;
                    background-image: linear-gradient(rgba(24,232,164,0.9), rgba(24,232,164,0.9)), url("../images/second-row-galery/background.jpg");
                    border-radius: 10px;
                    box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), ;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 28px;
                    font-family:$font-Helvetica;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: #020213;
                    @media screen and (max-width:768px){
                        background-image:  url("../images/second-row-galery/background.jpg");
                        p{
                            display:none;
                        }
                    }
                    
                } 
                .pictures-row__item_cut{
                    display:flex;
                    width:40px;
                    height:212px;
                    padding-right: 20px;
                    
                    .picture{
                        width:100%;
                        height: 100%;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        object-fit: cover;
                    }
                }
                .second{width:160px}
                .second-end{width:150px}
                .pictures-row__item_last-cut{
                    display:flex;
                    height:212px;

                    .picture{
                        width:100%;
                        height: 100%;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        object-fit: cover;
                    }
                }
            }
            .third-row-margin{
                margin-bottom: 150px;
            }
        }
    
    }
    .about{
        width:100%;
        height: 392px;
        box-sizing: border-box;
        padding: $padding-hd;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        background-color:$white-color;
        @media screen and (max-width:1440px){
            padding:$padding-desctop;
        }
        h2{
            margin: 0px;
            width: 400px;
            min-width: 348px;
            height: 145px;
            // padding-right: 100px;
            font-family: $font-Helvetica;
            font-style: normal;
            font-weight: 900;
            font-size: 62px;
            line-height: 90%;
            letter-spacing: -1px;
            color: $h-color;
        }
        p{
            width: 400px;
            min-width: 348px;
            height: 145px;
            padding-right: 40px;
            font-family: $font-Helvetica;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 180%;
            color:$dark-grey;
        }
    }
    .recrut-process{
        width:100%;
        height: 1104px;
        padding:$padding-hd;
        box-sizing: border-box;
        display:flex;
        justify-content: space-around;
        align-items:center;
        flex-direction: column;
        background: #D5D4D9;
        box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09);
        @media screen and (max-width:1440px){
            padding:$padding-desctop;
        }
        &__row{
            width:100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items:flex-start;
            .recrut-process__item{

                width:620px;
                // height: 457px;
            }
            .first{
                display:flex;
                flex-direction: column;
            }    
            h2{
                width:363px;
                height: 204px;
                margin:0;
                font-family: $font-Helvetica;
                font-style: normal;
                font-weight: 900;
                font-size: 62px;
                line-height: 110%;
                letter-spacing: -1px;
                color: $h-color;
            }
            .second-item{
                margin-top:0;
                font-family: Helvetica Now Display;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 156%;
                color: #485563;
            }
            .recrut-process__card{
                width:620px;
                height: 457px;
                background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(117.15deg, #1BD1FC 0%, #316DD1 100%);
                box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
                border-radius: 16px;
            }
            
        }
    }
}    
