$main-background: #020213;
$main-max-width: 1920px;
$main-max-height: 7385px; 
$font-Helvetica: Helvetica Now Display;
$green-color:#18E8A4;
$white-color:#FFFFFF;
$dark-grey:#545460;
$h-color:#202523;
@import'./top-block/top-block';
@import'./about/about';
@import'./recruit-process/recruit-process';
body{
    background-color:#E5E5E5;
}
$padding-hd:0 10%;
$padding-desktop:0 5%;
.page-container {
    width:100%;
    margin:0 auto;
    max-width: $main-max-width;
    max-height: $main-max-height;
    padding-top: 24px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $main-background;
}    
